.RData
.DS_Store
.Rhistory
.Rprofile
.Rproj.user

Test_xaringan
image_archive

*.Rproj
*.Rproj.user
.Rhistory
.RData
.Rprofile
.Ruserdata
.DS_Store

Data/hpa_bd

slides/z_test_*
slides/note.md
slides/*_cache/*
slides/*_files/*

